<div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-10" style="padding-left:25%;padding-top:10%;">
                <div class="row">
                    <h1>Ajouter utilisateurs</h1>
                </div>
                <div class="row" style="margin-left:5%;">
                  <form [formGroup]="formUser">
                        <label for="username">Pseudo</label>
                <input type="text" [class.is-invalid]="isInvalidInput(formUser.controls['username'])" id="username" formControlName="username">
                <span class="text-danger" *ngIf="isInvalidInput(formUser.controls['username'])" >
                  <ng-container *ngIf="formUser.controls['username'].hasError('required')">
                      Ce champs est requis
                  </ng-container>
              </span>
      
                
                <label for="password">Mot de passe</label>
                <input type="password" [class.is-invalid]="isInvalidInput(formUser.controls['password'])" id="password" formControlName="password">
                <span class="text-danger" *ngIf="isInvalidInput(formUser.controls['password'])" >
                  <ng-container *ngIf="formUser.controls['password'].hasError('required')">
                      Ce champs est requis
                  </ng-container>
              </span>
      
                
                <label for="confirm-password">Confirmer mot de passe</label>
                <input type="password" [class.is-invalid]="isInvalidInput(formUser.controls['password'])" id="confirm-password" formControlName="password">
                <span class="text-danger" *ngIf="isInvalidInput(formUser.controls['password'])" >
                  <ng-container *ngIf="formUser.controls['password'].hasError('required')">
                      Ce champs est requis
                  </ng-container>
              </span>
      
                
                <div>
                    <button type="button" class="button cancel">Annuler</button>
                    <button type="submit" class="button save">Enregistrer</button>
                </div>
                </form>
            <div>
      </div>
    </div>
  </div>