body {
    display: flex;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}
.sidebar {
    width: 200px;
    background: #D1CFCB;
    color: #524f49;
    padding: 0 25px;
    height: 100vh;
}
.sidebar h2 {
    margin-top: 0;
    text-align: center;
}
.sidebar .logout{
    margin-top: 100%;
    padding-top: 50%;
}
.sidebar a {
    color: #524f49;
    text-decoration: none;
    display: block;
    margin: 18px 0;
}
.content {
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1 {
    margin: 0 0 20px 0;
}
form {
    /* background: white; */
    /* padding: 50px; */
    /* border-radius: 5px; */
    /* box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); */
    width: 30%;
}
label {
    display: block;
    margin-bottom: 8px;
}
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}
.cancel {
    background-color: #FF0000; 
    color: white;
}
.save {
    background-color: #28A745; 
    color: white;
}