

<div class="container-fluid">
    <div class="row">
      <div class="col-2">
        <app-sidebar></app-sidebar>
      </div>
      <div class="col">

        <div class="row">
            <div class="col">
                <div class="row">
                    <h1>Élèves (2)</h1> 
                </div>
                <div class="row">
                    <button class="new-student" style="width: auto;"><a routerLink="/add_student">Nouveau élève</a></button>
                </div>
            </div>

        </div>
        <div class="row">
            <table>
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Genre</th>
                        <th>Classe</th>
                        <th>Matricule</th>
                        <th>Âge</th>
                        <th>Téléphone</th>
                        <th>Ville</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>KOFFI</td>
                        <td>George</td>
                        <td>M</td>
                        <td>Tle</td>
                        <td>GDJ7DGDD</td>
                        <td>25</td>
                        <td>0123456789</td>
                        <td>Bonoua</td>
                        <td>
                            <button class="button modify"><a routerLink="/update_student" >Modifier</a></button>
                            <button class="button delete" onclick="showModal()">Supprimer</button>
                        </td>
                    </tr>
                    <tr>
                        <td>KONÉ</td>
                        <td>Sali</td>
                        <td>F</td>
                        <td>2nd</td>
                        <td>GDJ7DGDD</td>
                        <td>22</td>
                        <td>0123456789</td>
                        <td>Abidjan</td>
                        <td>
                            <button class="button modify"><a routerLink="/update_student"> Modifier</a></button>
                            <button class="button delete" onclick="showModal()">Supprimer</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


        
      </div>
    </div>
  </div>





    
    


