body {
    display: flex;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
}
.sidebar {
    width: 200px;
    background: #D1CFCB;
    color: #524f49;
    padding: 0 25px;
    height: 100vh;
}
.sidebar h2 {
    margin-top: 0;
    text-align: center;
}
.sidebar .logout{
    margin-top: 100%;
    padding-top: 50%;
}
.sidebar a {
    color: #524f49;
    text-decoration: none;
    display: block;
    margin: 18px 0;
}

h1 {
    margin: 0 0 20px 0;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background: white;
}
th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background: #f2f2f2;
}
.button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.modify {
    background-color: #FFA500; 
    color: #575552;
}
.delete {
    background-color: #FF0000; 
    color: #d1cdc5;
}