<div class="sidebar">
    <img src="assets/logo_etab.jpg" height="40px" width="50px" alt="" style="float: left;">
    <h2>Mon Etab</h2>
    <hr>
    <a routerLink="/dashboard"> <i class="fas fa-tachometer-alt"></i> Tableau de bord</a>
    <a routerLink="/list_student"> <i class="fas fa-user-graduate"></i> Élèves</a>
    <a routerLink="/list_teacher"> <i class="fas fa-chalkboard-teacher"></i> Professeurs</a>
    <a routerLink="/list_user"> <i class="fas fa-users"></i> Utilisateurs</a>
    <a routerLink="/report"> <i class="fas fa-file-alt"></i> Rapport</a>
    <div class="logout">
        <hr>
        <a href="#"> <i class="fas fa-sign-out-alt"></i> Déconnexion</a>
    </div>
</div>